@import url("https://fonts.googleapis.com/css?family=Inconsolata|VT323");
* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "VT323", monospace;
  background-color: #2a2d46;
  color: #eff0f6;
  font-size: 18px;
}

a {
  color: #94bfff;
}

.main-header {
  background-color: #191b2a;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
}

.orange {
  color: #ffca7a;
}

.red {
  color: #ff476e;
}

.main-title {
  padding: 2% 5%;
}

.max-width {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.img-responsive {
  width: 100%;
  box-shadow: 5px -5px 30px rgba(25, 27, 42, 0.75);
}

.logo {
  min-width: 110px;
  width: 50%;
  max-width: 330px;
}

.theme-section {
  padding: 2% 5%;
}

.theme-section:after {
  content: "";
  display: block;
  margin: 16px auto;
  width: 52px;
  border: 6px dashed #f1b3f1;
}

.theme-title {
  color: #39ffba;
  text-align: center;
}

.theme-link {
  text-align: center;
  color: #01f7f7;
}
