* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: monospace;
    background-color: #282A2D;
}

.main-header {
    background-color: #33363A;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orange {
    color: #FD971F;
}

.main-title {
    padding: 2% 5%;
}

.max-width {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.img-responsive {
    width: 100%;
}

.logo {
    min-width: 110px;
    width: 50%;
    max-width: 330px;
}

.theme-section {
    padding: 2% 5%;
}

.theme-section:after {
    content: '';
    display: block;
    margin: 16px auto;
    width: 52px;
    border: 6px dashed #AE81FF;
}

.theme-link {
    text-align: center;
    color: #78D9EC;
}